@import '/styles/variables.scss';

.button_area {
    padding: 5px;
    padding-left: 0;
    background-color: $secundary-color;
}

.button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    border: none;
    font-size: 0.875rem;
    margin-left: 3px;
    outline: none;
    color: $fontH-color;
    margin-right: 3px;
    cursor: pointer;
}