.div_area {
  max-width: 500px;
}

.html_table {
  width: 100%;
  border-collapse: collapse;
}

.html_tr:nth-child(even) {
  background-color: #e9e9e9;
}

.html_th {
  padding: 10px;
  text-align: left;
  background-color: var(--icon-color);
  border: 1px solid var(--border-color);
  color: white;
}

.html_td {
  border: 1px solid #8993a2;
  padding: 10px;
  color: var(--fontH-color);
}
