@import "/styles/variables.scss";

.chart_area {
  background-color: $secundary-color;
  display: flex;
  align-items: right;
}

.chart_div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chart_span {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  color: #666666;
  font-size: 14px;
}
